// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.

$text-color: #4c6df9;
$background-color: #fff;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: #4c6df9,
  secondary: #009B4D,
  danger: #f53d3d,
  light: #75C4FD,
  dark: #0039a2
);

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

@font-face {
font-family: AppFont;
src: url("../assets/fonts/Poppins-Regular.otf");
}

$font-family-ios-base:"AppFont";
$font-family-md-base:"AppFont";
$font-family-wp-base:"AppFont";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionic.ionicons";

$tabs-ios-tab-font-size : 1rem;
$tabs-md-tab-font-size : 1rem;

$tabs-md-tab-font-size-active:1.1rem;
$tabs-ios-tab-font-size-active: 1.1rem;

$tabs-md-tab-text-color-active:color($colors, secondary);
$tabs-ios-tab-text-color-active:color($colors, secondary);
$tabs-ios-tab-icon-color-active:color($colors, secondary);
$tabs-md-tab-icon-color-active:color($colors, secondary);

$list-ios-header-color:color($colors, secondary);
$list-md-header-color:color($colors, secondary);
$navbar-ios-height:46px;
$navbar-md-height:46px;
$segment-button-ios-toolbar-button-height:2rem;
$segment-button-md-toolbar-button-height:2rem;