 
<ion-header no-border>
  <ion-navbar color="secondary"> 
   <ion-buttons text-center  class="logo-header">
      <img src="./assets/img/logo.svg"/>
    </ion-buttons>  
  </ion-navbar> 
</ion-header>



<ion-content class="animated fadeIn common-bg ">

	<ion-card>  
		<ion-card-content padding>
			<h3 text-center>GANTI PASSWORD	</h3>
	  <!-- Login form -->
	    <form class="list-form"> 
	       <ion-item>
	        <ion-label floating> 
	          PIN/Password Lama
	        </ion-label>  
			 <ion-input type="{{type_pass_lama}}" name="password" ngModel #password="ngModel" required pattern=".{4,10}"></ion-input>
			 
			 <button *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="ios-eye-off-outline"  style="font-size:32px;"></ion-icon></button>
			 <button *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="ios-eye-outline" style="font-size:32px;"></ion-icon></button>
 
	      </ion-item> 
 
	       <ion-item>
	        <ion-label floating> 
	          PIN/Password Baru
	        </ion-label>
	        <ion-input type="{{type_pass_baru}}" name="password_baru" ngModel #password="ngModel" required pattern=".{4,10}"></ion-input>
	       	 <button *ngIf="!showPassBaru" ion-button clear color="dark" type="button" item-right (click)="showPasswordBaru()"> <ion-icon name="ios-eye-off-outline"  style="font-size:32px;"></ion-icon></button>
			 <button *ngIf="showPassBaru" ion-button clear color="dark" type="button" item-right (click)="showPasswordBaru()"> <ion-icon name="ios-eye-outline" style="font-size:32px;"></ion-icon></button>
	      </ion-item>

	      <ion-item>
	        <ion-label floating> 
	          Ulangi PIN/Password Baru
	        </ion-label>
	        <ion-input type="{{type_pass_confirm}}" name="password_confirm" ngModel #password="ngModel" required pattern=".{4,10}"></ion-input>
	        <button *ngIf="!showPassConfirm" ion-button clear color="dark" type="button" item-right (click)="showPasswordConfirm()"> <ion-icon name="ios-eye-off-outline"  style="font-size:32px;"></ion-icon></button>
			 <button *ngIf="showPassConfirm" ion-button clear color="dark" type="button" item-right (click)="showPasswordConfirm()"> <ion-icon name="ios-eye-outline" style="font-size:32px;"></ion-icon></button>
	      </ion-item> 
	    
	    </form>

	    <div margin-top>
	      <button ion-button block color="secondary" tappable (click)="register()" round>
	        Simpan Perubahan
	      </button>
	    </div>
	 </ion-card-content>
	</ion-card>

</ion-content>
